.main {
    --height-header: 62px;

    position: relative;
}

.header {
    position: sticky;
    width: 100%;

    top: 0;
    z-index: 9999;
}

.home {
    padding: 80px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(255, 255, 255);
    background: linear-gradient(145deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(189, 242, 178, 1) 100%);
}

.titleHome {
    text-align: center;
}

.feature {
    padding: var(--height-header) 0;
}

.plan {
    padding: var(--height-header) 0;
}

.contact {
    padding: var(--height-header) 0;
}

.faqs {
    padding: var(--height-header) 0;
}