.main {
    --height-header: 62px;

    position: relative;
}

.titleHome {
    text-align: right;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.feature {
    padding: var(--height-header) 0;
}

.plan {
    padding: var(--height-header) 0;
}

.contact {
    padding: var(--height-header) 0;
}

.faqs {
    padding: var(--height-header) 0;
}